/* Raleway, sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500&display=swap") all;

:root {
  /* Colors */
  --clr_white: #faf4f2;
  --clr_extra_white: #fffdfc;
  --clr_black: #242321;
  --clr_red: #cf5a69;
  --clr_yellow: #fde99a;
  --clr_blue: #68a3a5;
  /* Spacing */
  --spc_smallest: 8rem;
  --spc_small: calc(var(--spc_smallest) * 2);
  --spc_regular: calc(var(--spc_small) * 2.5);
  --spc_large: calc(var(--spc_small) * 4);
  --spc_largest: calc(var(--spc_small) * 5);

  --spc_small_border: 1px;
  --spc_regular_border: 2px;
  /* Fonts */
  --fnt_weight_regular: 400;
  --fnt_weight_medium: 500;
  --fnt_weight_bold: 700;

  font-size: 1px; /* For scaling text */
  --fnt_size_paragraph_text: 18rem;
  --fnt_size_paragraph_special: 20rem;
  --fnt_size_navbar: 22rem;
  --fnt_size_quote: 24rem;
  --fnt_size_sec_title: 42rem;
  --fnt_size_main_title: 56rem;
  /* Shadows */
  --shd_regular: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
  --shd_strong: 5px 5px 10px -5px black;
  --shd_large: 0px 5px 20px -10px black;
}

::selection {
  background-color: var(--clr_yellow);
  color: var(--clr_red);
}

/* general */
html {
  max-width: 100%;
  overflow-x: hidden;
}

html * {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  --content-container-margin: min(80px, 10%);
  padding-inline: var(--content-container-margin);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr_white);
  overflow-x: hidden;
}

body > * {
  margin-inline: auto;
  width: 100%;
  max-width: 1180px;
}

/* text related */
article :is(h1, h2) {
  font-weight: var(--fnt_weight_bold);
  color: var(--clr_red);
}

article :is(h3, p, ul, q) {
  color: var(--clr_black);
  max-width: 75ch;
}

article h1 {
  font-size: var(--fnt_size_main_title);
}

article h2 {
  font-size: var(--fnt_size_sec_title);
}

article :is(h3, a:not(.inline-link)),
section:first-child > article > p {
  font-size: var(--fnt_size_paragraph_special);
  max-width: 60ch;
}

article :is(p, ul, td) {
  font-size: var(--fnt_size_paragraph_text);
}

nav {
  font-size: var(--fnt_size_navbar);
}

q {
  quotes: "“" "”" "‘" "’";
  font-size: var(--fnt_size_quote);
  font-style: italic;
}

q.inline-quote {
  display: list-item;
  font-size: var(--fnt_size_paragraph_text);
  list-style-type: disc;
}

/* GENERAL SPACING */
section {
  padding-block: var(--spc_large);
}

section.blue-bar:not(.normal-spacing) {
  padding-block: var(--spc_small);
}

section.blue-bar:not(.normal-spacing) :is(h2, p, ul) {
  margin-block: var(--spc_small);
}

:is(h1, h2, p, q, ul):not(:last-child) {
  margin-block-end: var(--spc_regular);
}
/* 
h1, h2, p:not(:last-child), q {
  margin-block-end: var(--spc_regular);
} */

h3 {
  margin-block-end: var(--spc_smallest);
}

.button {
  margin-block-start: calc(var(--spc_regular) * 1.2);
  margin-block-end: calc(var(--spc_regular) * 1.5);
}

#boxed-container {
  display: grid;
  padding: var(--spc_regular);
  border: var(--spc_small_border) solid var(--clr_black);
  border-radius: var(--spc_small);
  background-color: var(--clr_extra_white);
}

/* header * */
header > article {
  position: relative;
  border-block-end: var(--spc_regular_border) solid var(--clr_black);
  padding-block: var(--spc_small);
}

/* div.content-container */
.content-container {
  position: relative;
  display: flex;
  flex-grow: 1;
}

/* aside + nav */
aside {
  position: relative;
  top: var(--spc_large);
  margin-inline-end: var(--spc_largest);
}

nav {
  position: sticky;
  top: var(--spc_large); /* to force it to stick with a minimum spacing when scrolling */
  z-index: 1; /* To render above full bleed .blue-bar elements */
  border: var(--spc_small_border) solid var(--clr_black);
  border-radius: var(--spc_small);
  box-shadow: var(--shd_regular);
  background-color: var(--clr_extra_white);
}

nav > ul {
  list-style-type: none;
}

nav li {
  margin: calc(var(--spc_small) * 1.5);
}

#active {
  list-style-type: disc;
  list-style-position: inside;
}

#active::marker {
  font-size: 0.6em;
}

nav a {
  font-weight: var(--fnt_weight_medium);
  text-decoration: underline solid transparent;
  color: var(--clr_black);
  transition: 500ms;
}

nav a:hover {
  text-shadow: 0px 0px 0 var(--clr_black);
  color: var(--clr_black);
  text-decoration: underline solid var(--clr_blue);
  text-decoration-thickness: 2px;
}

/* main */
.button {
  position: relative;
  display: inline-block;
  width: fit-content;
  margin-inline-end: calc(var(--spc_regular) * 0.75);
  padding-block: var(--spc_small);
  padding-inline: var(--spc_largest);
  background-color: var(--clr_yellow);
  border: var(--spc_small_border) solid var(--clr_black);
  border-radius: calc(var(--spc_small) * 0.6);
  box-shadow: var(--shd_strong);
  font-weight: var(--fnt_weight_bold);
  text-decoration: none;
  transition-property: left, top, box-shadow;
  inset: 0;
  transition-duration: 300ms;
}

.button:hover {
  left: 2.5px;
  top: 2.5px;
  box-shadow: none;
}

.button:hover::before {
  /* To prevent moving back when mouse on border of button */
  content: "";
  position: absolute;
  inset: -3.5px;
}

.button[href="/HTML/werkwijze.html"] {
  margin-block-end: 0; /* to hard-fix margins not collapsing because of display: inline-block; */
  background-color: var(--clr_yellow);
  color: var(--clr_black);
}

.button[href="/HTML/contact.html"] {
  text-align: center;
  background-color: var(--clr_red);
  color: var(--clr_extra_white);
}

/*blue bar */
.blue-bar {
  position: relative;
  isolation: isolate;
  background-color: var(--clr_blue);
}

.blue-bar::before,
footer::before {
  content: "";
  display: block;
  position: absolute;
  margin-inline: -50vw;
  inset: 0;
  z-index: -1;
  background-color: var(--clr_blue);
}

.blue-bar::before {
  box-shadow: var(--shd_large);
}

.blue-bar:nth-child(4n)::before {
  box-shadow: inset 0 0 10px -4px black;
}

.blue-bar > article {
  display: flex;
  gap: var(--spc_small);
}

.blue-bar :is(h2, p, ul, q) {
  color: var(--clr_extra_white);
}

/* footer */
footer {
  padding-block: var(--spc_largest);
  position: relative;
  background-color: var(--clr_blue);
}

footer::before {
  outline: var(--spc_regular_border) solid var(--clr_black);
}

footer > article {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  gap: var(--spc_regular);
}

footer > article :first-child {
  flex-shrink: 0; /* Text at the left maintains it's size; */
  word-break: break-word;
}

footer > article * {
  color: var(--clr_extra_white);
  min-width: 0;
}

footer > article a > img {
  width: 100%;
  height: 100%;
  max-height: 132px;
}

footer > article ul {
  list-style-type: none;
}

footer > article li {
  margin-block: calc(var(--spc_smallest) / 2);
}

/* LAYOUT ADJUSTMENTS */

/* Enlarge font-size for for large screen */
@media screen and (max-width: 1024px) {
  :root {
    --spc_smallest: 7rem;
    --spc_small: calc(var(--spc_smallest) * 2);
    --spc_regular: calc(var(--spc_small) * 2.5);
    --spc_large: calc(var(--spc_small) * 4);
    --spc_largest: calc(var(--spc_small) * 5);

    --fnt_size_paragraph_text: 16rem;
    --fnt_size_paragraph_special: 18rem;
    --fnt_size_navbar: 19rem;
    --fnt_size_quote: 20rem;
    --fnt_size_sec_title: 34rem;
    --fnt_size_main_title: 42rem;
  }

  /* header */
  header {
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--clr_white);
  }

  header > article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header::before {
    content: "";
    background: var(--clr_white);
    border-bottom: var(--spc_regular_border) solid black;
    display: block;
    position: absolute;
    margin-inline: -50vw;
    inset: 0;
    z-index: -1;
  }

    header > article > img {
      height: 75px;
    }

  /* navbar */
  .burger {
    width: 38px;
    padding: 15px;
    margin: -15px;
    z-index: 2;
    border-radius: 10px;;
  }

  .burger:hover {
    background: var(--clr_extra_white);
  }

  .burger > .line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: var(--clr_black);
    border-radius: 5px;
  }

  aside {
    display: block;
    position: fixed;
    top: 104px;
    margin: 0;
    height: 100vh;
    z-index: 1;
    transition: all 500ms;
    right: -300px;
  }

  .visible {
    right: -0;
  }

  nav {
    position: relative;
    top: 0;
    height: 100%;
    border-radius: 0;
    padding-inline: var(--spc_regular);
  }

  nav > ul > li {
    padding-block-start: var(--spc_small);
  }

  /* intro */
  .button {
    margin-block-start: calc(var(--spc_regular) * 0.8);
    margin-block-end: 0;
  }

  /* footer */
  footer > article {
    display: grid;
    grid-template-columns: min-content auto;
    gap: var(--spc_small);
  }

  footer > article a > img {
    width: auto;
  }

  footer > article a[href="https://www.scag.nl/"] {
    grid-column: 2;
    grid-row: 1;
  }

  footer > article a[href="https://www.scag.nl/"] > img {
    display: block;
    margin-inline-start: auto;
  }

  footer > article a[href="https://tekentaal.nl/"] {
    grid-column: 2;
  }

  footer > article a[href="#"] {
    grid-row: 2;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --fnt_size_sec_title: 28rem;
    --fnt_size_main_title: 32rem;
  }

  /* footer */
  footer > article {
    grid-template-columns: 1fr;
  }

  footer > article * {
    margin-inline: auto;
    grid-column: 1 !important;
    grid-row: auto / auto !important;
  }

  footer > article > a[href="#"] {
    grid-row: 2 !important;
  } 

  footer > article a > img {
    max-width: 290px;
    width: 100%;
  }
}
