#intro > :first-child {
  width: 80%;
}

#intro > :last-child {
  width: clamp(140px, 30%, 220px);
}

#begeleidingsvormen > :first-child {
  width: clamp(200px, 35%, 500px);
}

#overige-info > :last-child {
  width: clamp(140px, 30%, 400px);
}